<h1>New collection</h1>

Collection is a label that you can assign to your diagrams.
A diagram may be contained in one or more collections.<br/>

<% form_for(@collection,  :builder => LabelingFormBuilder) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_field :name %>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', collections_path %>
