/* line 18, ../../../app/stylesheets/application.sass */
body {
  background-color: #fff;
  color: #333;
  margin: 5px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px; }

/* line 25, ../../../app/stylesheets/application.sass */
form {
  margin-bottom: 1em; }
  /* line 27, ../../../app/stylesheets/application.sass */
  form text {
    color: yellow; }
  /* line 29, ../../../app/stylesheets/application.sass */
  form textarea {
    display: block; }

/* line 32, ../../../app/stylesheets/application.sass */
label {
  font-size: 120%;
  color: #681;
  margin-right: 1ex;
  clear: both;
  vertical-align: middle;
  display: block; }
  /* line 40, ../../../app/stylesheets/application.sass */
  label:after {
    content: ":"; }

/* line 44, ../../../app/stylesheets/application.sass */
div.fieldWithErrors, div.errorExplanation {
  border: 1px solid #c60;
  float: left;
  clear: both;
  font-size: 120%;
  color: #a40;
  font-weight: bold;
  background-color: #faa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/* line 54, ../../../app/stylesheets/application.sass */
.x {
  font-size: large; }

/* line 57, ../../../app/stylesheets/application.sass */
.circled {
  border: 2px solid #5c1;
  padding: 10px 10px;
  margin: 10px;
  font-size: 200%;
  color: #3a1;
  font-weight: bold;
  background-color: #afa;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* line 69, ../../../app/stylesheets/application.sass */
p.notice {
  border: 2px solid #5c1;
  color: #3a1;
  background-color: #afa;
  float: left;
  clear: both;
  padding: 8px 10px;
  font-size: 120%;
  font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /* height: 1em */
  display: table-element;
  vertical-align: center; }
/* line 75, ../../../app/stylesheets/application.sass */
p.error {
  border: 2px solid #c60;
  color: #a40;
  background-color: #faa;
  float: left;
  clear: both;
  padding: 8px 10px;
  font-size: 120%;
  font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /* height: 1em */
  display: table-element;
  vertical-align: center; }
/* line 81, ../../../app/stylesheets/application.sass */
p.nomessage {
  float: left;
  clear: both;
  padding: 8px 10px;
  font-size: 120%;
  font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /* height: 1em */
  display: table-element;
  vertical-align: center; }

/* line 85, ../../../app/stylesheets/application.sass */
pre.results {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

/* line 90, ../../../app/stylesheets/application.sass */
a {
  color: #417;
  text-decoration: none; }
  /* line 94, ../../../app/stylesheets/application.sass */
  a:visited {
    color: #306; }
  /* line 97, ../../../app/stylesheets/application.sass */
  a:hover {
    color: #fff;
    background-color: #666; }

/* line 102, ../../../app/stylesheets/application.sass */
ul.menu {
  padding: 0;
  margin-bottom: 3px;
  color: #fff;
  white-space: nowrap;
  list-style-type: none; }
  /* line 109, ../../../app/stylesheets/application.sass */
  ul.menu li {
    display: inline; }
    /* line 111, ../../../app/stylesheets/application.sass */
    ul.menu li a {
      padding: 0.2em 1em;
      margin-right: 2em;
      background: #DDD;
      color: #333;
      text-decoration: none;
      float: left;
      border: 1px solid #CCC;
      font-size: large;
      font-weight: bold;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
      /* line 123, ../../../app/stylesheets/application.sass */
      ul.menu li a:hover {
        background: #889;
        color: #fff; }

/* line 127, ../../../app/stylesheets/application.sass */
.fieldWithErrors {
  display: table; }

/* line 130, ../../../app/stylesheets/application.sass */
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  /* line 138, ../../../app/stylesheets/application.sass */
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff; }
  /* line 147, ../../../app/stylesheets/application.sass */
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  /* line 152, ../../../app/stylesheets/application.sass */
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }

/* line 157, ../../../app/stylesheets/application.sass */
div.pagination {
  float: left; }
/* line 160, ../../../app/stylesheets/application.sass */
div.pagestat {
  float: right; }
/* line 163, ../../../app/stylesheets/application.sass */
div#solution {
  white-space: pre;
  font: 14px monospace courier;
  background-color: #EEE;
  border: 1px dashed #BB6;
  padding: 1em; }

/* line 170, ../../../app/stylesheets/application.sass */
.stderr {
  color: red; }

/* line 173, ../../../app/stylesheets/application.sass */
.stdout {
  color: blue; }

/* line 176, ../../../app/stylesheets/application.sass */
.fine {
  font-size: smaller;
  color: #BBB; }

/* line 180, ../../../app/stylesheets/application.sass */
img.board {
  width: 202px;
  height: 202px; }

/* line 184, ../../../app/stylesheets/application.sass */
.clickable {
  border-top: 1px dashed gray;
  margin-bottom: 1em; }
  /* line 188, ../../../app/stylesheets/application.sass */
  .clickable:hover {
    background-color: #ddd;
    cursor: pointer;
    border: 1px solid red;
    margin-bottom: 1em; }

/* line 194, ../../../app/stylesheets/application.sass */
pre.solution {
  white-space: pre-wrap;
  text-indent: 0; }

/* line 199, ../../../app/stylesheets/application.sass */
table.diagrams td {
  vertical-align: top;
  font-size: 11px; }
/* line 203, ../../../app/stylesheets/application.sass */
table.zero td {
  padding: 0; }

/* line 206, ../../../app/stylesheets/application.sass */
.greeny-highlight {
  background-color: #cea;
  border: 1px solid #bcb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px; }
