/* line 18, ../../../app/stylesheets/application.sass */
body {
  background-color: #fff;
  color: #333;
  margin: 5px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px; }

/* line 25, ../../../app/stylesheets/application.sass */
form {
  margin-bottom: 1em; }
  /* line 27, ../../../app/stylesheets/application.sass */
  form textarea {
    display: block;
    width: 100%; }
  /* line 30, ../../../app/stylesheets/application.sass */
  form input[type="submit"] {
    font-size: x-large; }

/* line 33, ../../../app/stylesheets/application.sass */
input[type="button"].x {
  font-size: x-large; }

/* line 36, ../../../app/stylesheets/application.sass */
input[type="text"].w90 {
  width: 90%; }

/* line 40, ../../../app/stylesheets/application.sass */
label, .label {
  font-size: 120%;
  color: #681;
  margin: 4px 1ex 0 0;
  clear: both;
  vertical-align: middle;
  display: block;
  font-weight: bold; }
  /* line 48, ../../../app/stylesheets/application.sass */
  label.modest, .label.modest {
    display: inline;
    font-weight: normal;
    font-size: 100%;
    float: left;
    width: 25%; }
  /* line 55, ../../../app/stylesheets/application.sass */
  label:after, .label:after {
    content: ":"; }

/* line 59, ../../../app/stylesheets/application.sass */
div.fieldWithErrors, div.errorExplanation {
  border: 1px solid #c60;
  float: left;
  clear: both;
  font-size: 120%;
  color: #a40;
  font-weight: bold;
  background-color: #faa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/* line 69, ../../../app/stylesheets/application.sass */
.x {
  font-size: large; }

/* line 72, ../../../app/stylesheets/application.sass */
.circled {
  border: 2px solid #5c1;
  padding: 10px 10px;
  margin: 10px;
  font-size: 200%;
  color: #3a1;
  font-weight: bold;
  background-color: #afa;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* line 84, ../../../app/stylesheets/application.sass */
p.notice {
  border: 2px solid #5c1;
  color: #3a1;
  background-color: #afa;
  float: left;
  clear: both;
  padding: 8px 10px;
  font-size: 120%;
  font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /* height: 1em */
  display: table-element;
  vertical-align: center; }
/* line 90, ../../../app/stylesheets/application.sass */
p.error {
  border: 2px solid #c60;
  color: #a40;
  background-color: #faa;
  float: left;
  clear: both;
  padding: 8px 10px;
  font-size: 120%;
  font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /* height: 1em */
  display: table-element;
  vertical-align: center; }
/* line 96, ../../../app/stylesheets/application.sass */
p.nomessage {
  float: left;
  clear: both;
  padding: 8px 10px;
  font-size: 120%;
  font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /* height: 1em */
  display: table-element;
  vertical-align: center; }

/* line 100, ../../../app/stylesheets/application.sass */
pre.results {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

/* line 105, ../../../app/stylesheets/application.sass */
a.plain:hover {
  color: inherit;
  background-color: inherit; }

/* line 109, ../../../app/stylesheets/application.sass */
a {
  color: #417;
  text-decoration: none; }
  /* line 113, ../../../app/stylesheets/application.sass */
  a:visited {
    color: #306; }
  /* line 116, ../../../app/stylesheets/application.sass */
  a:hover {
    color: #fff;
    background-color: #666; }

/* line 121, ../../../app/stylesheets/application.sass */
ul.menu {
  padding: 0;
  margin-bottom: 3px;
  color: #fff;
  white-space: nowrap;
  list-style-type: none; }
  /* line 128, ../../../app/stylesheets/application.sass */
  ul.menu li {
    display: inline; }
    /* line 130, ../../../app/stylesheets/application.sass */
    ul.menu li a {
      padding: 0.2em 1em;
      margin-right: 2em;
      background: #DDD;
      color: #333;
      text-decoration: none;
      float: left;
      border: 1px solid #CCC;
      font-size: large;
      font-weight: bold;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
      /* line 142, ../../../app/stylesheets/application.sass */
      ul.menu li a:hover {
        background: #889;
        color: #fff; }

/* line 146, ../../../app/stylesheets/application.sass */
.fieldWithErrors {
  display: table; }

/* line 149, ../../../app/stylesheets/application.sass */
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  /* line 157, ../../../app/stylesheets/application.sass */
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff; }
  /* line 166, ../../../app/stylesheets/application.sass */
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  /* line 171, ../../../app/stylesheets/application.sass */
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }

/* line 176, ../../../app/stylesheets/application.sass */
div.pagination {
  float: left; }
/* line 179, ../../../app/stylesheets/application.sass */
div.pagestat {
  float: right; }
/* line 182, ../../../app/stylesheets/application.sass */
div#solution {
  white-space: pre-wrap;
  font: 14px monospace courier;
  background-color: #EEE;
  border: 1px dashed #BB6;
  padding: 1em;
  margin-top: 1em; }

/* line 190, ../../../app/stylesheets/application.sass */
.stderr {
  color: red; }

/* line 193, ../../../app/stylesheets/application.sass */
.stdout {
  color: blue; }

/* line 196, ../../../app/stylesheets/application.sass */
.fine {
  font-size: smaller;
  color: #BBB; }

/* line 200, ../../../app/stylesheets/application.sass */
img.board {
  width: 202px;
  height: 202px; }

/* line 204, ../../../app/stylesheets/application.sass */
.clickable {
  border-top: 1px dashed gray;
  margin-bottom: 1em; }
  /* line 208, ../../../app/stylesheets/application.sass */
  .clickable:hover {
    background-color: #ddd;
    cursor: pointer;
    border: 1px solid red;
    margin-bottom: 1em; }

/* line 214, ../../../app/stylesheets/application.sass */
pre.solution {
  white-space: pre-wrap;
  overflow: auto;
  text-indent: 0; }

/* line 220, ../../../app/stylesheets/application.sass */
table.diagrams td {
  vertical-align: top;
  font-size: 11px; }
/* line 224, ../../../app/stylesheets/application.sass */
table.zero td {
  padding: 0; }

/* line 227, ../../../app/stylesheets/application.sass */
.greeny-highlight {
  background-color: #cea;
  border: 1px solid #bcb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px; }

/* line 233, ../../../app/stylesheets/application.sass */
#pcount {
  margin-bottom: 5px; }

/* line 236, ../../../app/stylesheets/application.sass */
.em1 {
  height: 1em; }

/* line 239, ../../../app/stylesheets/application.sass */
#divBlank {
  padding: 0;
  width: 202px;
  height: 202px;
  position: relative; }

/* line 245, ../../../app/stylesheets/application.sass */
img.blank {
  position: absolute;
  z-index: -1; }

/* line 249, ../../../app/stylesheets/application.sass */
.login {
  text-align: center;
  border: dashed grey 1px;
  font-size: larger;
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 1ex;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

/* line 259, ../../../app/stylesheets/application.sass */
.loggedin {
  background-color: #D8E8D0; }

/* line 262, ../../../app/stylesheets/application.sass */
.loggedout {
  background-color: #E8D8D0; }

/* line 265, ../../../app/stylesheets/application.sass */
.xs {
  font-size: smaller; }

/* line 268, ../../../app/stylesheets/application.sass */
.cgreen {
  color: #228811; }

/* line 272, ../../../app/stylesheets/application.sass */
form.formtastic li {
  list-style-type: none; }
/* line 274, ../../../app/stylesheets/application.sass */
form.formtastic p.inline-hints {
  font-size: smaller;
  color: #BBB;
  margin: 0;
  padding: 0; }

/* line 280, ../../../app/stylesheets/application.sass */
legend {
  padding: 1em 0;
  text-align: center; }

/* line 284, ../../../app/stylesheets/application.sass */
span#beforepy {
  font: normal large Monospace;
  color: #688F52; }
