/*
Syntax error: File to import not found or unreadable: compass/reset.sass.
              Load path: /home/ike/Z/dia-x/public/stylesheets/sass
        on line 7 of /home/ike/Z/dia-x/public/stylesheets/sass/screen.sass

2:   Welcome to Compass.
3:   In this file you should write your main styles. (or centralize your imports)
4:   Import this file using the following HTML or equivalent:
5:   <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
6: 
7: @import compass/reset.sass
8: 
9: /*
10:   The *:focus rule is reset and suppresses link outlining.
11:   You _must_ remember to redefine your own outline, as it’s an important accessibility aid. E.g.
12:   *:focus

Backtrace:
/home/ike/Z/dia-x/public/stylesheets/sass/screen.sass:7
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/import_node.rb:98:in `rescue in import'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/import_node.rb:96:in `import'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/import_node.rb:28:in `full_filename'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/import_node.rb:63:in `_perform'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/node.rb:213:in `perform'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/root_node.rb:37:in `perform'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/node.rb:326:in `block in perform_children'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/node.rb:326:in `map'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/node.rb:326:in `perform_children'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/node.rb:317:in `perform!'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/root_node.rb:59:in `perform!'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/node.rb:305:in `_perform'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/node.rb:213:in `perform'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/root_node.rb:37:in `perform'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/tree/root_node.rb:29:in `render'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/plugin.rb:220:in `update_stylesheet'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/plugin.rb:85:in `block (2 levels) in update_stylesheets'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/plugin.rb:78:in `each'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/plugin.rb:78:in `block in update_stylesheets'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/plugin.rb:76:in `each'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/plugin.rb:76:in `update_stylesheets'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/plugin.rb:50:in `check_for_updates'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.23/lib/sass/plugin/rack.rb:40:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.0/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.0/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.0/lib/action_dispatch/middleware/cookies.rb:287:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:32:in `block in call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/activerecord-3.0.0/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:12:in `cache'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:31:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/activerecord-3.0.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:355:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.0/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/activesupport-3.0.0/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.0/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.0/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/railties-3.0.0/lib/rails/rack/logger.rb:13:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/activesupport-3.0.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.1/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.0/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/railties-3.0.0/lib/rails/application.rb:168:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/railties-3.0.0/lib/rails/application.rb:77:in `method_missing'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/railties-3.0.0/lib/rails/rack/log_tailer.rb:14:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/home/ike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/home/ike/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/ike/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/ike/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/reset.sass.\A               Load path: /home/ike/Z/dia-x/public/stylesheets/sass\A         on line 7 of /home/ike/Z/dia-x/public/stylesheets/sass/screen.sass\A \A 2:   Welcome to Compass.\A 3:   In this file you should write your main styles. (or centralize your imports)\A 4:   Import this file using the following HTML or equivalent:\A 5:   <link href=\"/stylesheets/screen.css\" media=\"screen, projection\" rel=\"stylesheet\" type=\"text/css\" />\A 6: \A 7: @import compass/reset.sass\A 8: \A 9: /*\A 10:   The *:focus rule is reset and suppresses link outlining.\A 11:   You _must_ remember to redefine your own outline, as it’s an important accessibility aid. E.g.\A 12:   *:focus"; }
