
%div(style = 'margin-top:5em')
  .span-3
    %b(style = 'font-size:x-large')
      =@author.code
      %sup
        = link_to '?', '/faqs/2#handle'

  .span-10(style = 'border-left:1px solid grey;padding-left:2em')
    %p
      %b.fs-larger
        =@author.name

    - if @author.original.present?
      %p
        Original:
        %br
        %b= @author.original
      %p
        Traditional:
        %br
        %b= @author.traditional
    /
      Birth date:
      %b 
      =h @author.birth_date

%br.clearboth

- if is_admin?
  = link_to 'Edit', edit_author_path(@author), class: :button

