%p
  Code:
  %b 
    =@author.code

%p
  Name:
  %b 
    =@author.name

- if @author.original.present?
  %p
    Original:
    %b 
      =h @author.original
/
  Birth date:
  %b 
  =h @author.birth_date

= link_to 'Edit', edit_author_path(@author)
= ' | '
= link_to 'Back', authors_path
