
.span-3
  %b(style = 'font-size:x-large')
    =@author.code

.span-10(style = 'border-left:1px solid grey;padding-left:2em')
  %p
    %b(style = 'font-size:larger')
      =@author.name

  - if @author.original.present?
    %p
      Original:
      %br
      %b
        =h @author.original
    %p
      Traditional:
      %br
      %b 
        =h @author.traditional
  /
    Birth date:
    %b 
    =h @author.birth_date

%br.clearboth

- if is_admin?
  = link_to 'Edit', edit_author_path(@author), class: :button

