- @sections.each do |section|
  %hr
  %h2= section.competition.name
  %div<>!= Status.where(table: 'competitions', value: (section.competition.status or 0)).first.name.bold
  
  %div
    %h3= section.name
    - if section.user == current_user
      %p
        =link_to ' Section report ', section_path(section), class: :button
        You are the director of this section.
    - case
    - when section.competition.status == 2
      = link_to ' Go judge it! ', judge_section_path(section), class: :button
    - when section.competition.status < 2
      %span.fine (can't be judged yet)
    - when section.competition.status > 2
      %span.fine (judging is closed)
  
  %p= section.theme
  

