<h1>Listing posts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td width="20%"><div style="color:DarkGreen;font:normal 16px Arial">
      <%= post.user.nick or '*** Anonymous ***' %></div>
      <br/><div style="font:normal 10px Arial"><%=h post.created_at.to_s(:post) %></div><br/></td>
    </td>
    <td style="vertical-align:top"><div style="font:normal 16px Arial"><%=h post.body %></div><br/></td>
  </tr>
    <td><%#= link_to '☒', post, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
</table>

<br />

<%= link_to 'New post', new_post_path %>
