.sprite-_{ background-position: 0 0; width: 25px; height: 25px; } 
.sprite-b{ background-position: 0 -30px; width: 25px; height: 25px; } 
.sprite-bb{ background-position: 0 -60px; width: 25px; height: 25px; } 
.sprite-bbo{ background-position: 0 -90px; width: 25px; height: 25px; } 
.sprite-bbw{ background-position: 0 -120px; width: 25px; height: 25px; } 
.sprite-bbz{ background-position: 0 -150px; width: 25px; height: 25px; } 
.sprite-bk{ background-position: 0 -180px; width: 25px; height: 25px; } 
.sprite-bko{ background-position: 0 -210px; width: 25px; height: 25px; } 
.sprite-bkw{ background-position: 0 -240px; width: 25px; height: 25px; } 
.sprite-bkz{ background-position: 0 -270px; width: 25px; height: 25px; } 
.sprite-bo{ background-position: 0 -300px; width: 25px; height: 25px; } 
.sprite-bp{ background-position: 0 -330px; width: 25px; height: 25px; } 
.sprite-bpo{ background-position: 0 -360px; width: 25px; height: 25px; } 
.sprite-bpw{ background-position: 0 -390px; width: 25px; height: 25px; } 
.sprite-bpz{ background-position: 0 -420px; width: 25px; height: 25px; } 
.sprite-bq{ background-position: 0 -450px; width: 25px; height: 25px; } 
.sprite-bqo{ background-position: 0 -480px; width: 25px; height: 25px; } 
.sprite-bqw{ background-position: 0 -510px; width: 25px; height: 25px; } 
.sprite-bqz{ background-position: 0 -540px; width: 25px; height: 25px; } 
.sprite-br{ background-position: 0 -570px; width: 25px; height: 25px; } 
.sprite-bro{ background-position: 0 -600px; width: 25px; height: 25px; } 
.sprite-brw{ background-position: 0 -630px; width: 25px; height: 25px; } 
.sprite-brz{ background-position: 0 -660px; width: 25px; height: 25px; } 
.sprite-bn{ background-position: 0 -690px; width: 25px; height: 25px; } 
.sprite-bno{ background-position: 0 -840px; width: 25px; height: 25px; } 
.sprite-bnw{ background-position: 0 -870px; width: 25px; height: 25px; } 
.sprite-bnz{ background-position: 0 -900px; width: 25px; height: 25px; } 
.sprite-wbw{ background-position: 0 -930px; width: 25px; height: 25px; } 
.sprite-wbz{ background-position: 0 -960px; width: 25px; height: 25px; } 
.sprite-hole{ background-position: 0 -990px; width: 25px; height: 25px; } 
.sprite-i{ background-position: 0 -1020px; width: 25px; height: 25px; } 
.sprite-k{ background-position: 0 -1050px; width: 25px; height: 25px; } 
.sprite-ko{ background-position: 0 -1080px; width: 25px; height: 25px; } 
.sprite-kw{ background-position: 0 -1110px; width: 25px; height: 25px; } 
.sprite-kz{ background-position: 0 -1140px; width: 25px; height: 25px; } 
.sprite-magic{ background-position: 0 -1170px; width: 25px; height: 25px; } 
.sprite-nb{ background-position: 0 -1200px; width: 25px; height: 25px; } 
.sprite-nbo{ background-position: 0 -1230px; width: 25px; height: 25px; } 
.sprite-nbw{ background-position: 0 -1260px; width: 25px; height: 25px; } 
.sprite-nbz{ background-position: 0 -1290px; width: 25px; height: 25px; } 
.sprite-nk{ background-position: 0 -1320px; width: 25px; height: 25px; } 
.sprite-nko{ background-position: 0 -1350px; width: 25px; height: 25px; } 
.sprite-nkw{ background-position: 0 -1380px; width: 25px; height: 25px; } 
.sprite-nkz{ background-position: 0 -1410px; width: 25px; height: 25px; } 
.sprite-np{ background-position: 0 -1440px; width: 25px; height: 25px; } 
.sprite-npo{ background-position: 0 -1470px; width: 25px; height: 25px; } 
.sprite-npw{ background-position: 0 -1500px; width: 25px; height: 25px; } 
.sprite-npz{ background-position: 0 -1530px; width: 25px; height: 25px; } 
.sprite-nq{ background-position: 0 -1560px; width: 25px; height: 25px; } 
.sprite-nqo{ background-position: 0 -1590px; width: 25px; height: 25px; } 
.sprite-nqw{ background-position: 0 -1620px; width: 25px; height: 25px; } 
.sprite-nqz{ background-position: 0 -1650px; width: 25px; height: 25px; } 
.sprite-nr{ background-position: 0 -1680px; width: 25px; height: 25px; } 
.sprite-nro{ background-position: 0 -1710px; width: 25px; height: 25px; } 
.sprite-nrw{ background-position: 0 -1740px; width: 25px; height: 25px; } 
.sprite-nrz{ background-position: 0 -1770px; width: 25px; height: 25px; } 
.sprite-nn{ background-position: 0 -1800px; width: 25px; height: 25px; } 

.sprite-nno{ background-position: 0 -1950px; width: 25px; height: 25px; } 
.sprite-nnw{ background-position: 0 -1980px; width: 25px; height: 25px; } 
.sprite-nnz{ background-position: -30px 0; width: 25px; height: 25px; } 

.sprite-p{ background-position: -30px -30px; width: 25px; height: 25px; } 

.sprite-wpo{ background-position: -30px -60px; width: 25px; height: 25px; } 
.sprite-wpw{ background-position: -30px -90px; width: 25px; height: 25px; } 
.sprite-wpz{ background-position: -30px -120px; width: 25px; height: 25px; } 

.sprite-q{ background-position: -30px -150px; width: 25px; height: 25px; } 

.sprite-wqo{ background-position: -30px -180px; width: 25px; height: 25px; } 
.sprite-wqw{ background-position: -30px -210px; width: 25px; height: 25px; } 
.sprite-wqz{ background-position: -30px -240px; width: 25px; height: 25px; } 

.sprite-wr{ background-position: -30px -270px; width: 25px; height: 25px; } 

.sprite-wro{ background-position: -30px -300px; width: 25px; height: 25px; } 
.sprite-wrw{ background-position: -30px -330px; width: 25px; height: 25px; } 
.sprite-wrz{ background-position: -30px -360px; width: 25px; height: 25px; } 

.sprite-wn{ background-position: -30px -390px; width: 25px; height: 25px; } 

.sprite-wno{ background-position: -30px -540px; width: 25px; height: 25px; } 
.sprite-wnw{ background-position: -30px -570px; width: 25px; height: 25px; } 
.sprite-wnz{ background-position: -30px -600px; width: 25px; height: 25px; } 

.sprite-wb{ background-position: -30px -630px; width: 25px; height: 25px; } 
.sprite-wk{ background-position: -30px -660px; width: 25px; height: 25px; } 
.sprite-wp{ background-position: -30px -690px; width: 25px; height: 25px; } 
.sprite-wq{ background-position: -30px -720px; width: 25px; height: 25px; } 
.sprite-wr{ background-position: -30px -750px; width: 25px; height: 25px; } 
.sprite-wn{ background-position: -30px -780px; width: 25px; height: 25px; } 

.sprite-xbb{ background-position: -30px -810px; width: 25px; height: 25px; } 
.sprite-xbbo{ background-position: -30px -840px; width: 25px; height: 25px; } 
.sprite-xbbw{ background-position: -30px -870px; width: 25px; height: 25px; } 
.sprite-xbbz{ background-position: -30px -900px; width: 25px; height: 25px; } 

.sprite-xbk{ background-position: -30px -930px; width: 25px; height: 25px; } 
.sprite-xbko{ background-position: -30px -960px; width: 25px; height: 25px; } 
.sprite-xbkw{ background-position: -30px -990px; width: 25px; height: 25px; } 
.sprite-xbkz{ background-position: -30px -1020px; width: 25px; height: 25px; } 

.sprite-xbp{ background-position: -30px -1080px; width: 25px; height: 25px; } 
.sprite-xbpo{ background-position: -30px -1110px; width: 25px; height: 25px; } 
.sprite-xbpw{ background-position: -30px -1140px; width: 25px; height: 25px; } 
.sprite-xbpz{ background-position: -30px -1170px; width: 25px; height: 25px; } 

.sprite-xbq{ background-position: -30px -1200px; width: 25px; height: 25px; } 
.sprite-xbqo{ background-position: -30px -1230px; width: 25px; height: 25px; } 
.sprite-xbqw{ background-position: -30px -1260px; width: 25px; height: 25px; } 
.sprite-xbqz{ background-position: -30px -1290px; width: 25px; height: 25px; } 

.sprite-xbr{ background-position: -30px -1320px; width: 25px; height: 25px; } 
.sprite-xbro{ background-position: -30px -1350px; width: 25px; height: 25px; } 
.sprite-xbrw{ background-position: -30px -1380px; width: 25px; height: 25px; } 
.sprite-xbrz{ background-position: -30px -1410px; width: 25px; height: 25px; } 

.sprite-xbn{ background-position: -30px -1440px; width: 25px; height: 25px; } 
.sprite-xbno{ background-position: -30px -1590px; width: 25px; height: 25px; } 
.sprite-xbnw{ background-position: -30px -1620px; width: 25px; height: 25px; } 
.sprite-xbnz{ background-position: -30px -1650px; width: 25px; height: 25px; } 

.sprite-xnb{ background-position: -30px -1830px; width: 25px; height: 25px; } 
.sprite-xnbo{ background-position: -30px -1860px; width: 25px; height: 25px; } 
.sprite-xnbw{ background-position: -30px -1890px; width: 25px; height: 25px; } 
.sprite-xnbz{ background-position: -30px -1920px; width: 25px; height: 25px; } 

.sprite-xnk{ background-position: -30px -1950px; width: 25px; height: 25px; } 
.sprite-xnko{ background-position: -30px -1980px; width: 25px; height: 25px; } 
.sprite-xnkw{ background-position: -60px 0; width: 25px; height: 25px; } 
.sprite-xnkz{ background-position: -60px -30px; width: 25px; height: 25px; } 

.sprite-xnp{ background-position: -60px -60px; width: 25px; height: 25px; } 
.sprite-xnpo{ background-position: -60px -90px; width: 25px; height: 25px; } 
.sprite-xnpw{ background-position: -60px -120px; width: 25px; height: 25px; } 
.sprite-xnpz{ background-position: -60px -150px; width: 25px; height: 25px; } 

.sprite-xnq{ background-position: -60px -180px; width: 25px; height: 25px; } 
.sprite-xnqo{ background-position: -60px -210px; width: 25px; height: 25px; } 
.sprite-xnqw{ background-position: -60px -240px; width: 25px; height: 25px; } 
.sprite-xnqz{ background-position: -60px -270px; width: 25px; height: 25px; } 

.sprite-xnr{ background-position: -60px -300px; width: 25px; height: 25px; } 
.sprite-xnro{ background-position: -60px -330px; width: 25px; height: 25px; } 
.sprite-xnrw{ background-position: -60px -360px; width: 25px; height: 25px; } 
.sprite-xnrz{ background-position: -60px -390px; width: 25px; height: 25px; } 

.sprite-xnn{ background-position: -60px -420px; width: 25px; height: 25px; } 
.sprite-xnno{ background-position: -60px -570px; width: 25px; height: 25px; } 
.sprite-xnnw{ background-position: -60px -600px; width: 25px; height: 25px; } 
.sprite-xnnz{ background-position: -60px -630px; width: 25px; height: 25px; } 

.sprite-xwp{ background-position: -60px -1200px; width: 25px; height: 25px; } 
.sprite-xwpo{ background-position: -60px -660px; width: 25px; height: 25px; } 
.sprite-xwpw{ background-position: -60px -690px; width: 25px; height: 25px; } 
.sprite-xwpz{ background-position: -60px -720px; width: 25px; height: 25px; } 

.sprite-xwq{ background-position: -60px -1230px; width: 25px; height: 25px; } 
.sprite-xwqo{ background-position: -60px -750px; width: 25px; height: 25px; } 
.sprite-xwqw{ background-position: -60px -780px; width: 25px; height: 25px; } 
.sprite-xwqz{ background-position: -60px -810px; width: 25px; height: 25px; } 

.sprite-xwr{ background-position: -60px -1260px; width: 25px; height: 25px; } 
.sprite-xwro{ background-position: -60px -840px; width: 25px; height: 25px; } 
.sprite-xwrw{ background-position: -60px -870px; width: 25px; height: 25px; } 
.sprite-xwrz{ background-position: -60px -900px; width: 25px; height: 25px; } 

.sprite-xwn{ background-position: -60px -1290px; width: 25px; height: 25px; } 
.sprite-xwno{ background-position: -60px -1050px; width: 25px; height: 25px; } 
.sprite-xwnw{ background-position: -60px -1080px; width: 25px; height: 25px; } 
.sprite-xwnz{ background-position: -60px -1110px; width: 25px; height: 25px; } 

.sprite-xwk{ background-position: -60px -1170px; width: 25px; height: 25px; } 
.sprite-xwko{ background-position: -30px -1740px; width: 25px; height: 25px; } 
.sprite-xwkw{ background-position: -30px -1770px; width: 25px; height: 25px; } 
.sprite-xwkz{ background-position: -30px -1800px; width: 25px; height: 25px; } 

.sprite-xwb{ background-position: -60px -1140px; width: 25px; height: 25px; } 
.sprite-xwbo{ background-position: -30px -1050px; width: 25px; height: 25px; } 
.sprite-xwbw{ background-position: -30px -1680px; width: 25px; height: 25px; } 
.sprite-xwbz{ background-position: -30px -1710px; width: 25px; height: 25px; } 


.sprite-xs135{ background-position: -60px -930px; width: 25px; height: 25px; } 
.sprite-xs225{ background-position: -60px -960px; width: 25px; height: 25px; } 
.sprite-xs315{ background-position: -60px -990px; width: 25px; height: 25px; } 
.sprite-xs45{ background-position: -60px -1020px; width: 25px; height: 25px; } 
.sprite-xns135{ background-position: -60px -450px; width: 25px; height: 25px; } 
.sprite-xns225{ background-position: -60px -480px; width: 25px; height: 25px; } 
.sprite-xns315{ background-position: -60px -510px; width: 25px; height: 25px; } 
.sprite-xns45{ background-position: -60px -540px; width: 25px; height: 25px; } 
.sprite-xbn135{ background-position: -30px -1470px; width: 25px; height: 25px; } 
.sprite-xbn225{ background-position: -30px -1500px; width: 25px; height: 25px; } 
.sprite-xbn315{ background-position: -30px -1530px; width: 25px; height: 25px; } 
.sprite-xbn45{ background-position: -30px -1560px; width: 25px; height: 25px; } 
.sprite-bn135{ background-position: 0 -720px; width: 25px; height: 25px; } 
.sprite-bn225{ background-position: 0 -750px; width: 25px; height: 25px; } 
.sprite-bn315{ background-position: 0 -780px; width: 25px; height: 25px; } 
.sprite-bn45{ background-position: 0 -810px; width: 25px; height: 25px; } 
.sprite-s135{ background-position: -30px -420px; width: 25px; height: 25px; } 
.sprite-s225{ background-position: -30px -450px; width: 25px; height: 25px; } 
.sprite-s315{ background-position: -30px -480px; width: 25px; height: 25px; } 
.sprite-s45{ background-position: -30px -510px; width: 25px; height: 25px; } 

.sprite-ns135{ background-position: 0 -1830px; width: 25px; height: 25px; } 
.sprite-ns225{ background-position: 0 -1860px; width: 25px; height: 25px; } 
.sprite-ns315{ background-position: 0 -1890px; width: 25px; height: 25px; } 
.sprite-ns45{ background-position: 0 -1920px; width: 25px; height: 25px; } 
