/[if lt IE 7]
  .clearboth(style = 'z-index:10; height: 59px; padding:10px 0 0 15px; position: relative; border: 2px solid darkred; background-color: LightCoral')
    %a(href = "http://www.browserchoice.eu/BrowserChoice/browserchoice_en.htm")       
      %p(style = 'font-size: larger; color: darkred')Your browser is outdated and is not supported by this site.  Please upgrade.                                        
      

