- if current_user_session
  .login.loggedin
    = current_user.name
    .xs [#{link_to ' Logout ', '/logout'}]
- else
  .login.loggedout
    #{link_to 'Log in', '/login'}, or
    .d= link_to 'register', '/signup'
